h1 {
    font-size: 30px;
    margin-left: 50px;
  }
  h2 {
    font-size: 30px;
    margin-left: 50px;
    color: red;
  }
  .kok1{
    margin-left: 70px;
  }
  .kok2{
    margin-left: 70px;
  }
  img {
    width: 1200px;
    height: 600px;
  }