h1{
  font-size: 50px;
}
img {
  width: 1200px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hello {
  text-align: center;
}
.button {
  background-color:rgb(255, 168, 6);
  text-align: center;
}
.center1 {
  text-align: center;
}
